@using EntityLayer.Concreate
@model Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    <div class="col-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Giriş</h4>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.FeatureID)
                    <div class="form-group">
                        <label>İsim</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        <text style="color:gray">@Html.ValidationMessage("Name")</text>
                    </div>
                    <div class="form-group">
                        <label>Unvan</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        <text style="color:gray">@Html.ValidationMessage("Title")</text>
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextAreaFor(x => x.Header, 6, 3, new { @class = "form-control" })
                        <text style="color:gray">@Html.ValidationMessage("Header")</text>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}
