@using EntityLayer.Concreate
@model Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-group" method="post">
    <div class="col-xl-8 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">İletişim Bilgileri</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">Güncelle</button>
                    </div>
                </div>
            </div>

            <input name="ContactID" value="@Model.ContactID" type="hidden" />
            <div class="card-body">
                <h6 class="heading-small text-muted mb-2">İletişim Bilgileri</h6>
                <div class="pl-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="Name">Başlık</label>
                                <input type="text" name="Title" maxlength="50" class="form-control" placeholder="Başlık" required value="@Model.Title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="Header">Açıklama</label>
                                <input type="text" name="Description" maxlength="200" class="form-control" placeholder="Özel Site URL Bilgisi Girilebilir" required value="@Model.Description">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="Title">Ünvan</label>
                                <input type="email" name="Mail" maxlength="70" class="form-control" placeholder="E-Mail" required value="@Model.Mail">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="Title">Telefon</label>
                                <input type="text" name="Phone" maxlength="11" class="form-control" placeholder="Telefon Numarası" required value="@Model.Phone">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
